.flexrow {
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
}

.project {
  display: flex;
  background-position: center;
  background-size: cover;
}
.project_beginner {
  width: 636px;
  height: 430px;
}

.project_music-album {
  background-image: url(/images/albummusica.png);
}
.project_design-principles {
  background-image: url(/images/diseñoidea.png);
}
.project-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.flexcolumn {
  justify-content: space-between;
  display: flex;
  height: 557px;
  width: 636px;
}
.flex-column_reversed {
  flex-direction: column-reverse;
}
.flex-row_reversed {
  flex-direction: row-reverse;
}
.project_p5 {
  width: 636px;
  height: 240px;
}
.flex-row_libraries-inner {
  display: flex;
  width: 636px;
  height: 290px;
}
.project_slider {
  width: 306px;
  height: 290px;
  background-image: url(/images/slider.jpeg);
}
.project_reactive {
  background-image: url(/images/react.jpeg);
  width: 306px;
  height: 290px;
}
.header__menu {
  display: flex;
  justify-content: center;
  min-height: 75px;
  align-items: center;
  flex-wrap: wrap;
}
.project_vanilla {
  width: 306px;
  height: 290px;
}

.project_how-to-study {
  background-image: url(/images/libros.jpeg);
}
.project_across {
  background-image: url(/images/across.jpeg);
}
.project_around {
  background-image: url(/images/around.jpeg);
}
