.header {
  display: flex;

  height: 95px;
}
.header__link {
  margin: auto;
  text-decoration: none;
  color: #10191e;
}
.menu-link {
  font-size: 18px;
  text-decoration: none;
  color: #10191e;
  margin-right: 20px;
}
